@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&family=Tinos:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Poppins', sans-serif;
}

* {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
  height: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e2e2e2; 
  border-radius: 20px;
  
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(100, 100, 100); 
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(85, 85, 85); 
}

.sidebar {
  -webkit-animation: sidebar 0.3s ease-in both; /*webkit for chrome safari*/
  animation: sidebar 0.3s ease-in both;
}

.fade {
  -webkit-animation: fade 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; /*webkit for chrome safari*/
  animation: fade 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes sidebar {
  0% {
    transform: translateX(-300px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes sidebar {
  0% {
    transform: translateX(-300px);
  }
  100% {
    transform: translateX(0);
  }
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}